html {
  color: #fffbf1;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #feda6c;
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.start {
  max-width: 30vw;
}

.title {
  font-size: 4vw;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.subtitle {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 6vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 10vw;
  }

  .start {
    max-width: 90vw;
  }
}
