html {
  color: #fffbf1;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #262626;
}

a:link {
  color: #fffbf1;
}

/* visited link */
a:visited {
  color: #fffbf1;
}

/* mouse over link */
a:hover {
  color: #feda6c;
}

/* selected link */
a:active {
  color: #feda6c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #feda6c;
  font-family: "Abril Fatface", serif;
  font-weight: 300;
  letter-spacing: 2px;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.start {
  max-width: 30vw;
}

.resources-list {
  list-style: none;
  padding: 0;
}

.title {
  font-size: 4vw;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 6vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 8vw;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 10vw;
  }

  .start,
  .resources {
    max-width: 90vw;
  }
}
